# act as "search load balancer", fetching data, aggregating results, etc.
node.master: false
node.data: false
node.ingest: false

node.name: "{{ hostname }}"

network.host: "{{ es_lb_listen_addr }}"
network.bind_host: "{{ es_lb_listen_addr }}"
network.publish_host: "{{ ansible_local.tinc.vpn_ip }}"

http.port: "{{ es_lb_api_port }}"
transport.profiles.default.port: {{ es_lb_node_port }}

# Cluster
cluster.name: "{{ es_lb_cluster_name | mandatory }}"
cluster.initial_master_nodes: {{ es_lb_master_nodes_names | to_yaml }}
discovery.seed_hosts: {{ es_lb_master_nodes_and_ports | to_yaml }}
