node.name: "{{ inventory_hostname }}"

# act as "search load balancer", fetching data, aggregating results, etc.
node.roles: [ ]

network.host: "{{ es_lb_listen_addr }}"
network.bind_host: "{{ es_lb_listen_addr }}"
network.publish_host: "{{ ansible_local.wireguard.vpn_ip }}"

http.port: "{{ es_lb_api_port }}"
transport.profiles.default.port: {{ es_lb_node_port }}

# Cluster
cluster.name: "{{ es_lb_cluster_name | mandatory }}"
discovery.seed_hosts:
{% for node in es_lb_master_nodes %}
  - {{ node.addr | mandatory }}:{{ node.port | mandatory }} # {{ node.name | mandatory }}
{% endfor %}
