# act as "search load balancer", fetching data, aggregating results, etc.
node.master: false
node.data: false
node.ingest: false

cluster.name: "{{ es_lb_cluster_name | mandatory }}"
network.host: "{{ es_lb_listen_addr }}"
network.bind_host: "{{ es_lb_listen_addr }}"
network.publish_host: "{{ ansible_local.tinc.vpn_ip }}"

http.port: "{{ es_lb_api_port }}"
transport.profiles.default.port: {{ es_lb_node_port }}

# minimum_master_nodes need to be explicitly set when bound on a public IP
discovery.zen.ping.unicast.hosts: {{ es_lb_unicast_host | mandatory }}:{{ es_lb_unicast_port }}
